<div class="container"><div><h3><b>Patienten Bearbeiten</b></h3></div>
  <form (ngSubmit)="onSubmit()" [formGroup]="editPatientForm" >


    <div class="form-group">
      <div class="row">
        <div class="col">
          <label for="vorname">Vorname</label>
          <input type="text" class="form-control" id="vorname"  name="vorname" required  formControlName= "vorname">
        </div>
        <div class="col">
          <label for="nachname">Nachname</label>
          <input type="text" class="form-control" id="nachname"  name="nachname" required formControlName= "nachname">
        </div>
        <div class="col">
          <label for="stationausNummer">Station auswählen</label>
          <select class="form-control" id="stationausNummer" name="stationNummer" required formControlName= "stationNummer">
            <option selected>--</option>
            <option>1</option>
            <option>2</option>
            <option>3</option>
          </select>
        </div>
        <div class="col">
          <label for="ZimmerNummer">Zimmer auswählen</label>
          <select class="form-control" id="zimmerNummer" name="zimmerNummer" required formControlName= "zimmerNummer">
            <option selected>--</option>
            <option>1</option>
            <option>2</option>
            <option>3</option>
            <option>4</option>
            <option>5</option>
            <option>6</option>
          </select> </div>
      </div>
      <div class="row">
        <div class="col">
          <label for="geburtstag">Geburtsdatum</label>
          <input type="text" class="form-control" id="geburtstag"  name="geburtstag" required formControlName= "geburtstag">
        </div>
        <div class="col">
          <label for="einzugsDatum">Eintritts in Krankenhaus</label>
          <input type="text" class="form-control" id="einzugsDatum"  name="einzugsDatum" required  formControlName= "einzugsDatum">
        </div>
      </div>
      <div class="row">
        <div class="col">
          <label for="strasse">Strasse</label>
          <input type="text" class="form-control" id="strasse"  name="strasse" required formControlName= "strasse">
        </div>
        <div class="col">
          <label for="hausnr">Hausnummer</label>
          <input type="text" class="form-control" id="hausnr"  name="hausnr" required formControlName= "hausnr">
        </div>
      </div>
      <div class="row">
        <div class="col">
          <label for="ort">Stadt</label>
          <input type="text" class="form-control" id="ort"  name="ort" required formControlName= "ort">
        </div>
        <div class="col">
          <label for="postleitzahl">Postleitzahl</label>
          <input type="text" class="form-control" id="postleitzahl"  name="postleitzahl" required formControlName= "postleitzahl">
        </div>
      </div>
      <div class="row">
        <div class="col">
          <label for="mobilnummer">Mobilfunknummer</label>
          <input type="text" class="form-control" id="mobilnummer"  name="mobilnummer"  formControlName= "mobilnummer">
        </div>
        <div class="col">
          <label for="erkrankung">Erkrankung</label>
          <input type="text" class="form-control" id="erkrankung"  name="erkrankung" required formControlName= "erkrankung">
        </div>
      </div>
      <div class="row">
        <div class="col">
          <label for="ernaehrungstyp">Ernährungstyp</label>
          <select id="ernaehrungstyp" class="form-control" name="ernaehrungstyp" required formControlName="ernaehrungstyp">
            <option selected>--</option>
            <option>Vegan</option>
            <option>Vegetarier</option>
            <option>Flexitarier</option>
            <option>Normal</option>

          </select>
        </div>
        <div class="col">
          <label for="allergien">Allergien auswählen</label>
          <select id="allergien" class="form-control" name="allergien" required  formControlName="allergien">
            <option selected>--</option>

            <option>Ei</option>
            <option>Erdnuss</option>
            <option>Fisch</option>
            <option>Gluten</option>
            <option>Sojabohnen</option>
            <option>Kuhmilch</option>
            <option>Schalenfrüchte</option>
            <option>Keine Allergie</option>

          </select></div>
      </div>
    </div>

    <button type="submit" class="btn btn-primary" [disabled] =!editPatientForm.valid >Submit</button>
  </form></div>
